body {
  height: 100vh;
  background: linear-gradient(135deg, #1a1a1a, #333);
  color: #f2f2f2;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  text-align: center;
}
h2 {
  margin-bottom: 10px;
  letter-spacing: 1px;
}
#info {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  padding: 10px 20px;
  margin-top: 10px;
  backdrop-filter: blur(4px);
  display: flex;
  gap: 20px;
}
#controls {
  margin: 15px auto;
  display: flex;
  gap: 15px;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 20px;
  border-radius: 8px;
  backdrop-filter: blur(4px);
}
.control {
  display: flex;
  align-items: center;
  gap: 5px;
}
button {
  background-color: #0078ff;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 6px 10px;
  font-size: 16px;
  transition: 0.2s;
}
button:hover {
  background-color: #005ecb;
}
p {
  margin: 0;
}
canvas {
  border-radius: 8px;
  background: radial-gradient(#222, #111);
  box-shadow: 0px 0px 15px rgba(0,0,0,0.5);
    @media only screen and (max-width: 400px){
      width: 100%;
      height: auto;
    }
}